<h1>Ma Todolist</h1>

<ul>
<% 
if (todos) {
	for (var i=0; i < todos.length; i++) { %>
		<li> 
			<a href="/todo/delete/<%= i %>">X</a> <%= todos[i] %> 
		</li>
<% 
	} 
}

%>
</ul>

<br>
Que dois-je faire ? 
<form action="/todo/add" method="POST">
	<input type="text" name="todo_text">
	<button type="submit">Valider</button>
</form>